p {
    text-align: center;
    color: #9a9a9a;
    font-weight: bold;
    font-size: 1rem;

  }

  label{
    font-size: medium;
    color: blue;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .narrow-date-input {
    max-width: 150px; /* Adjust the value as needed */
    width: auto;
  }
  